.yla{
    height: 100px;
    width: 100%;
    background-color: rgb(1, 1, 31);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.yla h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
#etusivu{
    margin: 0 auto;
    width: 50%;
    height: 500px;
    background-color: rgb(1, 1, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}
#etusivu2{
    padding-left: 13%;
    width: 50%;
    height: 20%;
    background-color: rgb(1, 1, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.napit{
    border-style:groove;
    border-color: white;
    background-color: black;
    color: white;
    height: 50px;
    margin: auto;
}

#hNappi{
    color: white;
    background-color: black;
    width: 15%;
    padding: 8px 12px;
}


.aanestysDiv {
  border: 1px solid #ccc;
  padding: 15px;
  width: calc(33% - 20px); /* kolme vierekkäin + gap */
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #000000;
  color: white;
}

.aanestysDiv h3 {
  margin-top: 0;
}

.vaihtoehtoBtn {
  display: block;
  margin: 5px 0;
  padding: 8px;
  cursor: pointer;
}

#hDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width:fit-content;
    margin: auto;
    color: white;
}

.poistaNappi{
    color: white;
    background-color: black;
    width: 15%;
    padding: 8px 12px;
    border-style: dotted;
    border-color: white;
    margin-left: 70%;
}