.yla{
    height: 100px;
    width: 100%;
    background-color: rgb(1, 1, 31);
    text-align: center;
    color: white;
    
}

.yla h1{
    padding-top: 25px;
}

#etusivu{
    margin: 0 auto;
    width: 50%;
    height: 500px;
    background-color: rgb(1, 1, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}
#etusivu2{
    padding-left: 13%;
    width: 50%;
    height: 20%;
    background-color: rgb(1, 1, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}

.napit{
    border-style:groove;
    border-color: white;
    background-color: black;
    color: white;
    height: 50px;
    margin: auto;
}